# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [16]:
# Import sqlite3 and pandas.
import sqlite3 as sl 
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [17]:
# Create a new database called exercises.db.
con = sl.connect('excercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [20]:
# Create a new table in your database.
with con:
    con.execute("""
        CREATE TABLE favorite_books1 (
            title TEXT,
            author TEXT,
            description TEXT
        )
    """)

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [21]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO favorite_books1 (title, author, description) values(?, ?, ?)'
data = [
    ('The House of Sand and Fog', 'Andre Dubus III', 'A recent immigrant from the Middle East― a former colonel in the Iranian Air Force― yearns to restore his familys dignity in California.'),
    ('The Kite Runner', 'Khaled Hosseini', 'Guilt, friendship, forgiveness, loss, and desire for atonement, and desire to be better than who you think you are.'),
    ('The Alchemist', 'Paulo Cuelho', 'Everyone should strive to pursue and realize their personal legend. Pay attention to the omens around you and dispel the restrictions society places on us to simply be content rather than pursue our wildest dreams')
]

with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [22]:
# Write your SELECT query here.
with con:
    data = con.execute("SELECT * FROM favorite_books1")
    for row in data:
        print(row)

('The House of Sand and Fog', 'Andre Dubus III', 'A recent immigrant from the Middle East― a former colonel in the Iranian Air Force― yearns to restore his familys dignity in California.')
('The Kite Runner', 'Khaled Hosseini', 'Guilt, friendship, forgiveness, loss, and desire for atonement, and desire to be better than who you think you are.')
('The Alchemist', 'Paulo Cuelho', 'Everyone should strive to pursue and realize their personal legend. Pay attention to the omens around you and dispel the restrictions society places on us to simply be content rather than pursue our wildest dreams')

In [23]:
df = pd.read_sql_query("SELECT * FROM favorite_books1", con)
df

,title,author,description
0,The House of Sand and Fog,Andre Dubus III,A recent immigrant from the Middle East― a for...
1,The Kite Runner,Khaled Hosseini,"Guilt, friendship, forgiveness, loss, and desi..."
2,The Alchemist,Paulo Cuelho,Everyone should strive to pursue and realize t...

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [24]:
# Use Pandas to make a new table in your database.
favorite_movies = pd.DataFrame({
    'movie_id' : [1, 2, 3],
    'movie_title' : ['Willy Wonka and the Chocolate Factory', 'Goonies', 'The Secret Garden']
})

In [26]:
favorite_movies.to_sql('movies1', con)

3

In [27]:
with con:
    data = con.execute('SELECT * FROM movies1')
    for row in data:
        print(row)

(0, 1, 'Willy Wonka and the Chocolate Factory')
(1, 2, 'Goonies')
(2, 3, 'The Secret Garden')